@model WEB_Assignment_Team4.Models.Criteria

<br />
<h4>Add Criteria for Competition @ViewData["selectedCompetitionNo"].ToString()</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CriteriaName" class="control-label"></label>
                <input asp-for="CriteriaName" class="form-control" />
                <span asp-validation-for="CriteriaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weightage" class="control-label"></label>
                <input asp-for="Weightage" class="form-control" min="1" max="100" />
                <span asp-validation-for="Weightage" class="text-danger"></span>
            </div>           
            <span style="color:red  ;">@TempData["Message"]</span>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Criteria</a>
</div>

