@model WEB_Assignment_Team4.Models.Criteria

@{
    ViewData["Title"] = "Add Criteria";
}
<br />
<h3 class="text-center">Add Criteria for Competition @ViewData["selectedCompetitionNo"].ToString()</h3>
<br />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-group col-6">
                <h6>Criteria Name:</h6>
                <input asp-for="CriteriaName" class="form-control rounded-pill border-3 border-warning" placeholder="Criteria Name" />
                <span asp-validation-for="CriteriaName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-group col-6">
                <h6>Weightage(%):</h6>
                <input asp-for="Weightage" class="form-control rounded-pill border-3 border-warning" placeholder="Weightage" min="1" max="100" />
                <span class="text-danger">@TempData["Message"]</span>
                <span asp-validation-for="Weightage" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-group">
                <input type="submit" value="Create Criteria" class="btn btn-primary text-white rounded-pill" />
            </div>
        </div>
    </div>
</form>
<br />
<div class="container-fluid">
    <div class="row justify-content-center">
        <a asp-action="Index" asp-route-id="@ViewData["selectedCompetitionNo"]">Back to Criteria</a>
    </div>
</div>


