@model WEB_Assignment_Team4.Models.Submissions

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">View submissions</h4>
<h5>Here can view and vote for submissions. </h5>
<!-- Add a partial view to display a list of interest records
     in a tabular format. -->
<partial name="~/Views/submissions/_ViewSubmissions.cshtml" model="@Model" />
