@model WEB_Assignment_Team4.Models.Submissions

@{
    ViewData["Title"] = "Index";
}

<br />
<h4 class="PageTitle">View submissions</h4>
<h5>View and vote for submissions. </h5>
<div>
    <a asp-action="List" asp-controller="Competition" asp-route-id="@ViewData["selectedCompetition"]">Back to List</a>
</div>
<!-- Add a partial view to display a list of interest records
     in a tabular format. -->
<partial name="~/Views/submissions/_ViewSubmissions.cshtml" model="@Model" />

