@model IEnumerable<WEB_Assignment_Team4.Models.Competition>

@{
    ViewData["Title"] = "View Competition Records";
}

<title>View Competitions</title>
<br />
<h3 style="text-align:center">View Competitions</h3>
<h4 style="text-align:center">Here can create,edit and delete competition records. </h4>
<hr />
<p><a asp-action="Create">Create New Competition</a></p>
<span style="color:red  ;">@TempData["Message"]</span>
<!-- Add a partial view to display a list of interest records
     in a tabular format. -->
<partial name="~/Views/Competition/_ViewCompetition.cshtml" model="@Model" />