@model IEnumerable<WEB_Assignment_Team4.Models.Competition>

@{
    ViewData["Title"] = "Index";
}

<title>View Competition</title>

<h4 class="PageTitle">View Competition</h4>
<h5>Sample Text</h5>
<p><a asp-action="Create">Create New Competition</a></p>
<!-- Add a partial view to display a list of interest records
     in a tabular format. -->
<partial name="~/Views/Competition/_ViewCompetition.cshtml" model="@Model" />