@model IEnumerable<WEB_Assignment_Team4.Models.Competition>

@{
    ViewData["Title"] = "View Competition Records";
}

<title>View Competitions</title>

<h4 class="PageTitle">View Competitions</h4>
<h5>Here can create,edit and delete competition records. </h5>
<p><a asp-action="Create">Create New Competition</a></p>
<span style="color:red  ;">@TempData["Message"]</span>
<!-- Add a partial view to display a list of interest records
     in a tabular format. -->
<partial name="~/Views/Competition/_ViewCompetition.cshtml" model="@Model" />