<!--A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <!--  The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/Home/Index" style=" color:#3399FF;">
        <img src="~/images/LCULogo.png" alt="LCU Judging Platform" />
    </a>
    <!--  Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--  Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="judgeNavbar">
        <!--  Links that are aligned to the left, mr-auto: right margin auto-adjusted -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/JudgeMain">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Criteria/Index">Create Criteria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Score/Index">Judge Submissions</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging out user-->
                <a class="nav-link" asp-controller="Home" asp-action="LogOut">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
