@model IEnumerable<WEB_Assignment_Team4.Models.Comment>

@{
    ViewData["Title"] = "View Comments";
}

<title>View Comments</title>

<h4 class="PageTitle">View Comments</h4>
<h5>Here can view comments for selected competition</h5>
<span style="color:red  ;">@TempData["Message"]</span>
<partial name="~/Views/Comment/_ViewComment.cshtml" model="@Model" />