
@{
    ViewData["Title"] = "Admin Main Page";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Homepage</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p style="padding:2px 15px;">
                    @{
                        string userId = "Anonymous";
                        string userRole = "Unknown";
                        string datetime = "blank";
                        if (Context.Session.GetString("LoginID") != null)
                        {
                            userId = Context.Session.GetString("LoginID");
                        }
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Role");
                        }
                        if (Context.Session.GetString("DateTiming") != null)
                        {
                            datetime = Context.Session.GetString("DateTiming");
                        }
                    }
                    Welcome,&nbsp;
                    <span style="color:red;">@userId</span> &nbsp;
                    (Role: @userRole).&nbsp; You have logged in since @datetime &nbsp;
                </p>
            </div>
        </div>
    </div>
</body>
</html>
