@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br /><br />
    <div class="title">
        <h1>Welcome!</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-5">
            <div class="content">
                <h2 class="font-weight-light">A platform for competitions by Lion City University.</h2>
                <br />
                <p>
                    LCU Judging Platform is a competition judging
                    platform developed and opearated by Lion City
                    University.
                    <br /><br />
                    This platform is used for the many competition
                    organized by the faculties of LCU.
                </p>
                <br /><br /><br /><br />
                <p class="text-center font-weight-lighter">In order to access more services, please Log In.</p>
                <div class="text-center">
                    <a class="btn btn-warning" href="~/Home/PublicMain" role="button">Log In</a>
                </div>
            </div>
        </div>
        <div class="col-2"> </div>
        <div class="col-5 content-image">
            <img class="img-fluid" src="~/images/LCU.png" alt="LCU" />
        </div>
    </div>
</body>
</html>
