@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="title">
        <h1>Welcome</h1>
        <br />
        <h2> A platform for competitions by Lion City University. </h2>
    </div>
    <div class="content">
        <p> LCU Judging Platform is a competition judging
            platform developed and opearated by Lion City
            University.
        </p>
        <br />
        <p> This platform is used for the many competition
            organized by the faculties of LCU. </p>
    </div>
    <div class="content-image">
        <img />
    </div>
</body>
</html>
