
@{
    ViewData["Title"] = "Log In Page";
    //Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div class="heading">
        <h1>Log to <br />
        LCU Judging Platform</h1>
        <div>
            <form method ="post" action="~/Home/Login">
                <fieldset class="loginFieldset">
                    <input type="email" name="txtLoginID" id="txtLoginID"
                    placeholder="Email" required />
                    <br />
                    <input type="password" name="txtPassword" id="txtPassword"
                    placeholder="Password" required />
                    <br />
                    <input type="submit" id="btnLogin" class="myButton" value="Login" />
                    <br />                
                    <span style="color:red  ;">@TempData["Message"]</span> 
                </fieldset>
            </form>
        </div>
        <div> 
            <fieldset class="loginFieldset">
                <br />
                <a>Don't have an account?</a>
                <br />
                <a href="~/Home/PublicMain">Create a Competitior Account</a>
                <br />
                <a href="~/Judge/Create">Create a Judge Account</a>
            </fieldset>
        </div>
    </div>
</body>
</html>
