@model WEB_Assignment_Team4.Models.Judge

@{
    ViewData["Title"] = "Judge Registration";
}

<br />
<h3 class="text-center">Judge Profile Creation</h3>
<br />
<form asp-action="Create">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-group col-2">
                <select asp-for="Salutation"
                        asp-items="@ViewData["SalutationList"]
                            as List<SelectListItem>"
                        class="form-control rounded-pill border-3 border-warning">
                </select>
            </div>
            <div class="form-group col-4">
                <input asp-for="JudgeName" class="form-control rounded-pill border-3 border-warning" placeholder="Enter Name" />
                <span asp-validation-for="JudgeName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-group col-6">
                <select asp-for="AreaInterestID"
                        asp-items="@(new SelectList(
                                    @ViewData["InterestList"] as List<Interest>,
                                              "AreaInterestID", "Name"))"
                        class="form-control rounded-pill border-3 border-warning">
                </select>
                <span style="color:red  ;">@TempData["Message"]</span>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-group col-6">
                <input asp-for="EmailAddr" class="form-control rounded-pill border-3 border-warning" placeholder="Enter Email" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-group col-6">
                <input asp-for="Password" class="form-control rounded-pill border-3 border-warning" placeholder="Enter Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-group">
                <input type="submit" value="Create Account" class="btn btn-primary rounded-pill" />
            </div>
        </div>
    </div>
</form>
<br />
<br />
<br />
<div class="container-fluid">
    <div class="text-center">
        <span class="text-warning">Already Have an Account?</span>
        <br />
        <a href="~/Home/PublicMain">Proceed to Log In</a>
    </div>
</div>




