@model IEnumerable<WEB_Assignment_Team4.Models.Interest>

@{
    ViewData["Title"] = "Voting Select Interest";
}

<title>Voting Select Interest</title>

<h4 class="PageTitle">Voting Select Interest</h4>
<h5>Sample Text</h5>
<p><a asp-action="Create">Create New Interest</a></p>
<partial name="~/Views/Public/_SelectInterest.cshtml" model="@Model" />

