@model IEnumerable<WEB_Assignment_Team4.Models.Interest>

@{
    ViewData["Title"] = "View Interest";
}
<title>View Interest</title>
<br />
<h3 style="text-align:center">View Interest</h3>
<h4 style="text-align:center">Here can view and create records for interest</h4>
<hr />
<span style="color:red  ;">@TempData["Message"]</span>
<p><a asp-action="Create">Create New Interest</a></p>
<!-- Add a partial view to display a list of interest records
     in a tabular format. -->
<partial name="~/Views/Interest/_ViewInterest.cshtml" model="@Model" />