@model IEnumerable<WEB_Assignment_Team4.Models.Interest>

@{
    ViewData["Title"] = "View Interest";
}
<title>View Interest</title>

<h4 class="PageTitle">View Interest</h4>
<h5>Here can view and create records for interest</h5>
<span style="color:red  ;">@TempData["Message"]</span>
<p><a asp-action="Create">Create New Interest</a></p>
<!-- Add a partial view to display a list of interest records
     in a tabular format. -->
<partial name="~/Views/Interest/_ViewInterest.cshtml" model="@Model" />