@model WEB_Assignment_Team4.Models.Submissions

@if (Model.submissionsList.Count > 0)
{
    <div class="table-responsive">
        <table id="viewRanking" class="table">
            <thead>
                <tr>
                    <th>CompetitorID</th>
                    <th>Upload Date</th>
                    <th>File Name</th>
                    <th>Ranking</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.submissionsList)
                {
                    <tr>
                        <td>@items.CompetitorID</td>
                        <td>@items.UploadDateTime</td>
                        <td>@items.FileName</td>
                        <td>@items.Ranking</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red;">No Records Found!</span>
}
<div>
    <a asp-action="Select" asp-controller="Leaderboard">Back to List</a>
</div>

