@model WEB_Assignment_Team4.Models.Submissions

@{
    ViewData["Title"] = "View Ranking";
}
<title>View Ranking</title>

<br />
<h4 class="PageTitle">Ranking</h4>
<h5>View ranking of submissions</h5>
<div>
    <a asp-action="Select" asp-controller="Leaderboard">Back to List</a>
</div>
<br />
<partial name="~/Views/Leaderboard/_ViewSubmissionRanking.cshtml" model="@Model" />
