@model WEB_Assignment_Team4.Models.Submissions

@{
    ViewData["Title"] = "View Ranking";
}
<title>View Ranking</title>

<h4 class="PageTitle">View Ranking of Submissions</h4>
<h5>Here can view ranking of submissions</h5>
<partial name="~/Views/Leaderboard/_ViewSubmissionRanking.cshtml" model="@Model" />
